:root {
    --color-white: #f4f8fb;
    --color-black: #2d2d2d;
    --color-gray: #bdbcc1;
}

@font-face {
    font-family: "Playfair Display";
    src:
        url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
        url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    min-height: 100vh;
    color: var(--color-black);
    background-color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.auth-layout {
    display: flex;
    align-items: center;
}

.sidebar {
    flex: 0 0 40%;
}

.sidebar__image {
    max-height: 100vh;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 15rem;
}

.form__title {
    text-align: center;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.form__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form__group {
    width: calc(50% - 0.75rem);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__label,
.form__field {
    appearance: none;
}

.form__field {
    background-color: var(--color-white);
    padding: 0.75rem;
    border: 2px solid var(--color-gray);
    border-radius: 6px;
}
