:root {
    --color-white: #f4f8fb;
    --color-black: #2d2d2d;
}

@font-face {
    font-family: "Playfair Display";
    src:
        url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
        url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    min-height: 100vh;
    font-size: 10px;
    color: var(--color-black);
    background-color: var(--color-white);
}

.auth-layout {
    display: flex;
}

.sidebar {
    flex: 0 0 40%;
}

.sidebar__image {
    max-height: 100vh;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem;
}

.form__title {
    text-align: center;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.form__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.75rem);
}
